@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


@layer components {
  .timeline-img {
      @apply h-24 w-24 object-cover rounded-full shadow-md border-4 border-white md:mx-auto md:left-0 md:right-0;
  }
  .timeline-container {
      @apply relative pt-2 md:w-1/2 md:ml-auto md:pl-16;
  }
  .timeline-container-left {
      @apply md:ml-0 md:mr-auto md:pl-0 md:pr-16;
  }
  .timeline-pointer {
      @apply absolute inset-0 left-10 h-4 w-4 transform rotate-45 bg-white md:left-14;
  }
  .timeline-pointer-left {
      @apply md:left-auto md:right-14;
  }
}